@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  section{
    @apply mb-12 mx-8;
  }
  p{
    @apply leading-8 text-gray-800 py-2 dark:text-white;
  }
}
@layer components{
  .ctn-mx{
    @apply mx-auto lg:max-w-7xl md:max-w-3xl ;
  }
  .card{
    @apply shadow-xl p-5 py-10 rounded-xl hover:shadow-2xl 
    hover:-translate-y-2 transition-all duration-300 flex 
    flex-col gap-1 mb-6
    lg:p-10 lg:py-14
    ;
  }
  .link{
    @apply text-teal-600 dark:text-teal-500 underline underline-offset-4 transition-all hover:text-cyan-600 ;
  }
  .btn-primary{
    @apply bg-cyan-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-cyan-700 transition-all duration-300 inline w-fit;
  }
}
.ctn-nav{
  max-width: 1440px;
  @apply mx-auto;
}
.service-item::after{
  content: "...";
}
.service-item li::after{
  content: " |";
  color: black;
  @apply dark:text-white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*{
  box-sizing: border-box;
}


@font-face {
  font-family: 'burtons';
  src: url(../../public/Burtons.otf);
}